@import '.././css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url(".././images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
}

.wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ============= Header ============== */

.header {
    padding: 46px 0 17px 0;
}

.header__wrap {
    min-height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    column-gap: 8px;
}

.header__logo-img {
    width: 53px;
    height: 47px;
    position: relative;
}

.header__logo-img-start {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.3s;
}

.header__logo-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
}

.header__logo:hover .header__logo-img-hover {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s;
}

.header__logo:hover .header__logo-img-start {
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}

.header__logo-body {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.header__logo:hover .header__logo-body {
    color: #F26522;
    transition: color 0.3s;
}

.header__logo-text-1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 110%;
}

.header__logo-text-2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    text-align: end;
    
}

.header__mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    transition: color 0.3s;
}

.header__phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    transition: color 0.3s;
}

.header__mail:hover,
.header__phone:hover {
    color: #F26522;
    transition: color 0.3s;
}
/* ============= /Header ============== */

/* ============= Main ============== */

.main {
    margin-bottom: 33px;
}

.gallery-places__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 54px;
}

.gallery-places__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    transition: opacity 0.3s;
}

.gallery-places__img-wrap {
    position: relative;
    width: 100%;
}

.gallery-places__img-link {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-places__img-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-places__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    transition: color 0.3s;
}

.gallery-places__action {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 7px 14px 12px 16px;
    background-color: #F26522;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s;
}

.gallery-places__item:hover .gallery-places__action {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: all 0.3s;
}

.gallery-places__item:hover .gallery-places__link {
    color: #F26522;
    transition: color 0.3s;
}

.gallery-places__from {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 100%;
}

.gallery-places__details-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-places__price {
    font-size: 20px;
    line-height: 100%;
}

.gallery-places__button {
    position: relative;
    padding-right: 21px;
    font-size: 14px;
    line-height: 100%;
    
}

.gallery-places__button::after {
    content: url(".././images/arrow.svg");
    width: 5px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
/* ============= /Main ============== */

/* ============= Footer ============== */

.footer {
    padding: 15px 0;
}

.footer__copyright {
    text-align: center;
    font-size: 12px;
    line-height: 100%;
}